
.claude 
dist
dist-ssr
.DS_Store
# Editor directories and files
.idea
lerna-debug.log*
*.local
*.log
logs
# Logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
package-lock.json
.pixi/
pnpm-debug.log*
*.sln
*.suo
*.sw?
test_data/
.vercel
.vscode/*
!.vscode/extensions.json
yarn-debug.log*
yarn-error.log*
